
.color-select-directive {
    width: 100%;
}

.color-select-directive .minicolors-theme-bootstrap .minicolors-swatch {
    width:80% !important;
}

.color-select-directive .minicolors-theme-bootstrap .minicolors-input {
    padding-left: 10px !important;
    width: 100%
}
