<div>
    <select name="count" class="form-control" ng-model="selectedEffect" style="float:left;width: 75%">
        <option ng-repeat="effect in effectsList" value="{{effect}}">{{effect}}</option>
    </select>
    <select name="count" class="form-control" ng-model="count" style="float:left;width: 70px">
        <option value="0">0</option>
        <option value="5">5</option>
        <option value="10">10</option>
        <option value="20">20</option>
        <option value="40">40</option>
    </select>
</div>